/*plan_form.phpのデザイン修正用に作成*/

#b-box {
    float: center; 
    border: 3px solid #EEEEEE;
    background-color: #FFFFCC;
    padding:30px;
}

#dialy_tag {  
    width: 700px;
    border: 3px solid #FF9900;
}

textarea{
    vertical-align:top;
}
/*旅行記追加ボタン*/
.add_btn{
   position: relative;
   display: inline-block;
   font-weight: bold;
   padding: 0.25em ;
   margin-bottom: 100px;
   text-decoration: none;
   color: #000;   
}

.add_btn:before{
   position: absolute;
   content: '';
   width: 100%;
   height: 4px;
   top:100%;
   left: 0;
   border-radius: 3px;
   background:#67c5ff;
   transition: .2s;
   margin-bottom: 100px;
}

.add_btn:hover:before {
    top: -webkit-calc(100% - 3px);
    top: calc(100% - 3px);
}

/*旅行記削除ボタン*/
.trash_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: dashed 1px #67c5ff;
    background: #f2fcff;
    border-radius: 3px;
    transition: .4s;
}

.trash_btn:hover {
    background: #cbedff;
    color: #000;
}
/*plan_form.phpのデザイン修正用に作成